<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>Entrez les information de votre classe : </h2>

      <form>
        <p>
        Identifiant de la classe <input type="text" ng-model="classroomEdit.classroomId">
        </p>

        <textarea ng-model="classroomEdit.studentsList">
        </textarea>
        <br/>
        <button type="button" ng-click="classroom.save()">Sauvegarder la classe</button>
      </form>

    </div>
  </div>
</div>