<div ng-include='"templates/header.html"'></div>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <!-- Classroom Form Starts Here -->
      <h2>Entrez les information de votre classe : </h2>

      <form>
      <div class="form">
        <div class="row control-group">
        <div class="form-group col-xs-12 floating-label-form-group controls">
        <label>Identifiant de la classe</label>
          <input type="text" class="form-control" placeholder="Identifiant de la classe" ng-model="classroom.classroomId">
        </div>
        <div class="form-group col-xs-12 floating-label-form-group controls">
          <textarea class="form-control" ng-model="classroom.studentsList" placeholder="Liste des élèves">
          </textarea>
        </div>
        <br/>
        <button type="button" ng-click="classroom.save()">Sauvegarder la classe</button>
        </div>
        </div>
      </form>
      <!-- Classroom Form Ends Here -->

      <!-- Classroom Starts Here -->
      <h2>Liste des classe</h2>
      <ul class="list-group">
        <li class="list-group-item clearfix task" ng-repeat="(key, value) in classroom.classrooms track by index"> 
          <a ng-link="classroomEdit({classroomId:key})">{{key}} - {{value.length}} élèves</a>
          <div>
          </div>
        </li>
      </ul>
      <!-- Classrom Ends Here -->
    </div>
  </div>
</div>