<header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Handbag</h1>
          <hr class="small">
          <span class="subheading">Gestion des évaluations par compétences</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>Bienvenue sur handbag</h2>
      <p>Cette application vous permettra de centraliser vos évaluations par compétence en ajoutant des compétences, créant des classes et listant les évalutations par élève.
      </p>
    </div>
  </div>
</div>